.container{
  max-width: 450px;
  min-height: 450px;
  margin: 0 auto;
  background-color: cadetblue;
  box-shadow: 0 0 10px grey;
  margin-top: 50px;
  padding: 15px 50px;
  font-family: 'Calibri';
}
.text-center{
  text-align: center;
}
.journal{
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px grey;
  font-family: 'Calibri';
  border-radius: 10px;
}
.curBal{
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px grey;
  font-family: 'Calibri';
}
.boldred{
  color: brown;
  font-weight: bolder;
  font-style: italic;
  font-family: 'Calibri';
}
.transac input{
width: 100%;
margin: 5px;
padding: 5px 5px;
}
.histor{
  margin: 0;
  padding: 0;
}
.histor > li {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  background-color: white;
  box-shadow: 0 0 10px grey;
  margin: 5px 0;
}